<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification</title>
</head>
<body>
    <div>
        <h2>Welcome to our app</h2>
        <p>Hi {{name}}, click the button below to verify your account</p>
        <a href={{link}} target="_blank">
            <button style="background-color:blue; padding:5px; border:1px solid black; border-radius:10%;">Activate Email Address</button>
        </a>
    </div>
</body>
</html>